<!DOCTYPE html>
{% set meta = meta or {} %}
<html lang="{{ meta.lang or DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% from 'macros/metadata.html' import metadata with context %}
  {{ metadata(meta) }}

  <link rel="stylesheet" href="{{SITEURL}}/theme/css/fonts.css">
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/template.css">
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/typography.css">
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/main.css">
  {% endblock head %}
</head>

<body id="index" class="home">
  {% include 'includes/svg.html' %}
  {% include 'includes/nav.html' %}
  {% block hero %}{% include 'includes/hero.html' %}{% endblock %}

  {% block content %}
  {% endblock %}
  {% include 'includes/footer.html' %}
  {% include 'includes/piwik.html' %}
</body>
</html>
