{% extends 'base.html' %}
{% block content %}
  <section class="section-white">
    <div class="container">
      <h2 class="section__title">Introduction</h2>
      <div class="row">
        {% for item in data.home.introduction %}
        <div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.details }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section-grey">
    <div class="container">
      <h2 class="section__title">Features</h2>
      <div class="row">

        <div>
          <h3>Plugins</h3>
          <ul>
            {% for plugin in data.plugins if not plugin.is_specific %}
            <li><a href="{{ plugin.homepage }}">{{plugin.tagline}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div>
          <h3>Themes and local customization</h3>
          <ul>
              {% for plugin in data.plugins if plugin.is_specific %}
              <li><a href="{{ plugin.homepage }}">{{ plugin.name }}</a>: {{ plugin.tagline }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-color">
    <div class="container showcase__container">
      <h2 class="section__title">Showcase</h2>
      <div class="cards">
        {% for instance in data.showcase %}
        <a class="card showcase__item" href="{{ instance.homepage }}">
          <div class="card__cover">
            <img src="{{ instance.image }}" />
          </div>
          <article class="card__content">
            <h3>{{ instance.name }}</h3>
            <p>{{ instance.tagline }}</p>
          </article>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock content %}
