{% extends 'base.html' %}
{% block content %}
  <section class="section-white">
    <div class="container">
      <h2 class="section__title">Introduction</h2>
      <div class="row">
        <div>
          <h3>What is udata</h3>
          <p>udata is an open source and customizable data portal and catalog aimed at organizations wanting to publish their data or host for others.</p>
        </div>

        <div>
          <h3>Why udata</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div>
          <h3>How to contribute</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-grey">
    <div class="container">
      <h2 class="section__title">Features</h2>
      <div class="row">
        <div>
          <h3>Plugins</h3>
          <ul>
            {% for plugin in data.plugins if not plugin.is_specific %}
            <li><a href="{{ plugin.homepage }}">{{plugin.tagline}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div>
          <h3>Themes and local customization</h3>
          <ul>
              {% for plugin in data.plugins if plugin.is_specific %}
              <li><a href="{{ plugin.homepage }}">{{ plugin.name }}</a>: {{ plugin.tagline }}</li>
              {% endfor %}
          </ul>
        </div>

        <div>
          <h3>Showcase</h3>
          <ul>
            {% for instance in data.showcase %}
            <li>
              <a href="{{ instance.homepage }}">{{ instance.name }}</a>:
              {{ instance.tagline }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  {% include "blog.html" %}

{% endblock content %}
