{% extends "base.html" %}
{% set meta = {
  'title': page.title,
  'lang': page.lang,
  'description': page.summary|default('')|striptags,
  'image': page.image,
  'tags': page.tags|default([]),
} %}

{% block content %}
  <section class="section-white">
    <div class="container">
      {% block page_content %}
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(page) }}

      {{ page.content }}

      {% if page.modified %}
          <p>
          Last updated: {{ page.locale_modified }}
          </p>
      {% endif %}
      {% endblock %}
    </div>
  </section>
{% endblock %}
